{% extends "cabinet/base.html" %}


{% block cabinte_content %}

  <div class="controls">
    <input class="span5" type="text" placeholder=".span5">
  </div>
  <div class="controls controls-row">
    <input class="span4" type="text" placeholder=".span4">
    <input class="span1" type="text" placeholder=".span1">
  </div>
  <div class="controls controls-row">
    <input class="span3" type="text" placeholder=".span3">
    <input class="span2" type="text" placeholder=".span2">
  </div>
{% endblock %}